header.header
    .header__wrapper
        .header__column
            a(href=routes.home).logo-box
                img(src="https://iot.airmapkorea.kt.com/info/img/footer_ci.png", alt="")
                span.logo ing
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Log Out